# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [1]:
import pandas as pd

data = pd.read_csv("data/sp500hst.txt", names = ["date", "ticker", "open", "high", "low", "close", "volume"])
data

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [2]:
data.iloc [:,2:6].mean()

open     42.595458
high     43.102243
low      42.054464
close    42.601865
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [3]:
data['month'] = data.iloc [:, 0].apply(lambda x:int(str(x)[4:6]))
data

            date ticker   open     high     low  close  volume  month
0       20090821      A  25.60  25.6100  25.220  25.55   34758      8
1       20090824      A  25.64  25.7400  25.330  25.50   22247      8
2       20090825      A  25.50  25.7000  25.225  25.34   30891      8
3       20090826      A  25.32  25.6425  25.145  25.48   33334      8
4       20090827      A  25.50  25.5700  25.230  25.54   70176      8
...          ...    ...    ...      ...     ...    ...     ...    ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561      8
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489      8
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498      8
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259      8
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792      8

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [4]:
tickers = data.iloc [:,1].unique()
for ticker in tickers:
    print(f'{ticker}:  {data.loc [data["ticker"] == ticker, "volume"].sum()}')

A:  8609336
AA:  81898998
AAPL:  52261170
ABC:  9006756
ABT:  18975870
ACE:  2906506
ACS:  1801668
ADBE:  17422423
ADI:  10635172
ADM:  13339643
ADP:  8087866
ADSK:  9778386
AEE:  4674273
AEP:  9280969
AES:  18861022
AET:  15015411
AFL:  9995961
AGN:  4755407
AIG:  45483813
AIV:  6063038
AIZ:  3428182
AKAM:  10834508
AKS:  22978396
ALL:  11502909
ALTR:  19120427
AMAT:  56669291
AMD:  70221144
AMGN:  16530477
AMP:  6643830
AMT:  8989869
AMZN:  20143089
AN:  5946580
ANF:  9557503
AOC:  1358299
AON:  4351448
APA:  9695952
APC:  17442691
APD:  3958011
APH:  3192661
APOL:  7961605
ARG:  2422470
ATI:  5537525
AVB:  3334148
AVP:  10350922
AVY:  3430299
AXP:  26903337
AYE:  6300012
AZO:  1585829
BA:  14314999
BAC:  465813622
BAX:  12774405
BBBY:  8322086
BBT:  17206883
BBY:  17081938
BCR:  2134300
BDK:  1419839
BDX:  3739626
BEN:  3397388
BF.B:  873300
BHI:  15817911
BIG:  4177709
BIIB:  7427346
BJS:  11745156
BK:  22846085
BLL:  2036019
BMC:  5694151
BMS:  2248041
BMY:  39894656
BNI:  4813681
BRCM:  22183968
BRK.B:  8592561
BSX:  60477399
BTU:  14178851
BXP:  4136628
C:  1458332551
CA:  12526234
CAG:  10333211
CAH:  9800443
CAM:  10218807
CAT:  22758619
CB:  6448445
CBE:  1847438
CBG:  10615126
CBS:  25742407
CCE:  12114950
CCL:  11733304
CEG:  5027133
CELG:  9112960
CEPH:  4542462
CERN:  611967
CF:  5100392
CFN:  2933410
CHK:  36424597
CHRW:  4036265
CI:  9701783
CIEN:  5533640
CINF:  2611673
CL:  6662001
CLF:  12431920
CLX:  3191060
CMA:  7085411
CMCSA:  57989024
CME:  1871233
CMI:  6962570
CMS:  8388436
CNP:  9848857
CNX:  10515330
COF:  16589463
COG:  4213925
COH:  10436228
COL:  2477059
COP:  27731812
COST:  9635382
CPB:  5671275
CPWR:  6488692
CRM:  5184851
CSC:  2800281
CSCO:  121933642
CSX:  10757821
CTAS:  2950959
CTL:  7981530
CTSH:  8602623
CTXS:  7956952
CVG:  1237040
CVH:  4406781
CVS:  32023462
CVX:  25688892
D:  7364227
DD:  18019143
DE:  12202681
DELL:  64852414
DF:  9507966
DFS:  17114171
DGX:  3639905
DHI:  18643665
DHR:  6042637
DIS:  30626382
DISCA:  3049741
DNB:  966595
DNR:  15233072
DO:  5672995
DOV:  3739110
DOW:  28972885
DPS:  6211298
DRI:  5777796
DTE:  3049388
DTV:  29101728
DUK:  20278890
DV:  2661421
DVA:  2364649
DVN:  10774056
DYN:  12132000
EBAY:  40640512
ECL:  4703857
ED:  4582893
EFX:  2705046
EIX:  5376053
EK:  22747925
EL:  4727544
EMC:  57953239
EMN:  2536487
EMR:  11405907
EOG:  6943126
EP:  22016194
EQR:  8613564
EQT:  3368552
ERTS:  17905388
ESRX:  7374463
ESV:  3098247
ETFC:  122969972
ETFCD:  927375
ETN:  4343231
ETR:  3268154
EXC:  11258312
EXPD:  4839400
EXPE:  11762769
F:  230212585
FAST:  3234018
FCX:  35813999
FDO:  8009684
FDX:  8130585
FE:  7312269
FHN:  7738884
FII:  3218162
FIS:  10623371
FISV:  3514883
FITB:  41739004
FLIR:  4548324
FLR:  7512466
FLS:  2260180
FMC:  1533302
FO:  2771927
FPL:  6275862
FRX:  8217385
FSLR:  4545560
FTI:  3967684
FTR:  16437799
GAS:  980420
GCI:  15642265
GD:  5160916
GE:  204452485
GENZ:  8898409
GILD:  26470839
GIS:  7887018
GLW:  38613936
GME:  13052442
GNW:  33828503
GOOG:  7512353
GPC:  2216049
GPS:  22935301
GR:  3467660
GS:  29759299
GT:  11470628
GWW:  1843775
HAL:  40658216
HAR:  2734916
HAS:  5243493
HBAN:  55540709
HCBK:  16271585
HCN:  4261976
HCP:  9232469
HD:  40600425
HES:  9368583
HIG:  22943646
HNZ:  6064606
HOG:  9901678
HON:  13703271
HOT:  8342518
HP:  2544172
HPQ:  41291216
HRB:  9854774
HRL:  1437683
HRS:  2688450
HSP:  2617406
HST:  27223247
HSY:  4344433
HUM:  5890544
IBM:  16835588
ICE:  2560089
IFF:  1337039
IGT:  11316569
INTC:  159979834
INTU:  8830003
IP:  16390494
IPG:  16475888
IRM:  3119889
ISRG:  1442724
ITT:  4000496
ITW:  8966292
IVZ:  10968193
JAVA:  15084797
JBL:  10247404
JCI:  13408929
JCP:  14322877
JDSU:  14373423
JEC:  4544134
JNJ:  30285011
JNPR:  18422230
JNS:  7932831
JPM:  99714792
JWN:  8902599
K:  5877054
KBH:  3880492
KEY:  43807257
KFT:  33041221
KG:  10714895
KIM:  17171955
KLAC:  9717092
KMB:  6915119
KMX:  2198799
KO:  26104110
KR:  22737230
KSS:  10348370
L:  5826280
LEG:  4048356
LEN:  15162617
LH:  2798229
LIFE:  4816235
LLL:  2424923
LLTC:  10254172
LLY:  17958247
LM:  6439797
LMT:  7140523
LNC:  11681528
LO:  3974104
LOW:  35253935
LSI:  23568018
LTD:  12698894
LUK:  2527671
LUV:  22270272
LXK:  5510442
M:  28214543
MA:  4291520
MAR:  10913461
MAS:  12512678
MAT:  11751434
MBI:  7563266
MCD:  18867123
MCHP:  7180339
MCK:  5940721
MCO:  10340617
MDP:  883227
MDT:  15414700
MEE:  13463838
MET:  17538275
MFE:  7587513
MHP:  7079285
MHS:  9426876
MI:  25292157
MIL:  2520109
MJN:  5026442
MKC:  1766940
MMC:  8747920
MMM:  9946553
MO:  39234188
MOLX:  3300773
MON:  17848449
MOT:  82005003
MRK:  40948151
MRO:  15563824
MS:  44806409
MSFT:  148263502
MTB:  2620978
MTW:  4291326
MU:  74875446
MUR:  4456326
MWV:  3854907
MWW:  6260196
MYL:  17653769
NBL:  4393369
NBR:  16038775
NDAQ:  6729445
NEE:  676138
NEM:  20770040
NI:  6569034
NKE:  7649607
NOC:  5312643
NOV:  13762278
NOVL:  12188805
NRG:  5245819
NSC:  7538956
NSM:  16373878
NTAP:  16557814
NTRS:  5176919
NU:  3291270
NUE:  11999840
NVDA:  44344226
NVLS:  7584584
NWL:  10757787
NWSA:  44836067
NYT:  5231054
NYX:  7520615
ODP:  17404794
OI:  5668338
OKE:  1161011
OMC:  6625833
ORCL:  72867456
ORLY:  4239954
OXY:  13104331
PAYX:  8445504
PBCT:  11241324
PBG:  2506159
PBI:  5059250
PCAR:  7423484
PCG:  5877007
PCL:  5007760
PCLN:  2717728
PCP:  2874461
PCS:  19442218
PDCO:  2567420
PEG:  7810685
PEP:  18108663
PFE:  141891968
PFG:  8588550
PG:  30221406
PGN:  4881109
PGR:  10259524
PH:  4176026
PHM:  19602048
PKI:  3649107
PLD:  24107729
PLL:  2469588
PM:  19881711
PNC:  13123441
PNW:  2513278
POM:  6191569
PPG:  3560081
PPL:  8674363
PRU:  10086144
PSA:  3662361
PTV:  6828233
PWR:  7021800
PX:  4648479
PXD:  4729825
Q:  72135628
QCOM:  52487735
QEP:  495238
QLGC:  6584480
R:  1985443
RAI:  3393260
RDC:  8652479
RF:  69684170
RHI:  3939027
RHT:  6305615
RL:  3033227
ROK:  3177939
ROP:  1390417
ROST:  4503282
RRC:  7655738
RRD:  5409234
RSG:  5681108
RSH:  9362031
RTN:  7014745
RX:  5268679
S:  146922025
SAI:  7212085
SBUX:  23569818
SCG:  1948727
SCHW:  30398540
SE:  8625259
SEE:  2845427
SGP:  6951881
SHLD:  3311024
SHW:  3378752
SIAL:  1905354
SII:  16430285
SJM:  2210096
SLB:  27577165
SLE:  19456110
SLM:  13306241
SNA:  1064985
SNDK:  24976035
SNI:  1872279
SO:  11198406
SPG:  7953817
SPLS:  20587901
SRCL:  1719904
SRE:  4575245
STI:  20096614
STJ:  8919707
STR:  4251628
STT:  13499417
STZ:  5107467
SUN:  7069497
SVU:  10066480
SWK:  4286023
SWN:  12295021
SWY:  14419552
SYK:  5392248
SYMC:  31547120
SYY:  9633698
T:  72663312
TAP:  3301169
TDC:  3922025
TE:  4700386
TEG:  1654609
TER:  14738485
TGT:  16763436
THC:  24419702
TIE:  8884222
TIF:  6137259
TJX:  12145501
TLAB:  22750367
TMK:  1857763
TMO:  9406828
TROW:  5205842
TRV:  11923283
TSN:  12029111
TSO:  14211843
TSS:  3604592
TWC:  6461890
TWX:  19917729
TXN:  37544223
TXT:  13539537
UNH:  28622008
UNM:  8932449
UNP:  9909622
UPS:  12239714
URBN:  4833037
USB:  34861756
UTX:  12163143
V:  13970362
VAR:  2795874
VFC:  2113630
VIA:  163084
VIA.B:  3034901
VLO:  27514119
VMC:  3319411
VNO:  5212380
VRSN:  10095195
VTR:  4760596
VZ:  47722257
WAG:  20752063
WAT:  2382132
WDC:  12456534
WEC:  2105539
WFC:  109991283
WFMI:  6619418
WFR:  15906800
WHR:  3981783
WIN:  12437293
WLP:  13431478
WM:  5956178
WMB:  15691661
WMT:  36872441
WPI:  2979294
WPO:  142063
WU:  17153290
WY:  6001290
WYE:  5511073
WYN:  6707713
WYNN:  7819520
X:  35908163
XEL:  6982177
XL:  12216026
XLNX:  16842047
XOM:  66633788
XRAY:  2709860
XRX:  41236860
XTO:  21297931
YHOO:  56837171
YUM:  10971538
ZION:  15551119
ZMH:  4938916

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [5]:
import numpy as np

data = pd.read_csv("data/sp500hst.txt", names = ["date", "ticker", "open", "high", "low", "close", "volume"])
data_decoder = pd.read_csv("data/sp_data2.csv",delimiter = ';', on_bad_lines='warn', names=['ticker','company','percent'])
d = dict()
for ticker in tickers:
    d[ticker] = data_decoder[data_decoder['ticker'] == ticker].iloc [:,1]
for key in d.keys():
    try:
        d[key] = d[key].iloc [0]
    except IndexError:
        d[key] = np.nan
data['company'] = data['ticker'].map(d)
data

,date,ticker,open,high,low,close,volume,company
0,20090821,A,25.60,25.6100,25.220,25.55,34758,Agilent Technologies
1,20090824,A,25.64,25.7400,25.330,25.50,22247,Agilent Technologies
2,20090825,A,25.50,25.7000,25.225,25.34,30891,Agilent Technologies
3,20090826,A,25.32,25.6425,25.145,25.48,33334,Agilent Technologies
4,20090827,A,25.50,25.5700,25.230,25.54,70176,Agilent Technologies
...,...,...,...,...,...,...,...,...
122569,20100813,ZMH,51.72,51.9000,51.380,51.44,14561,NaN
122570,20100816,ZMH,51.13,51.4700,50.600,51.00,13489,NaN
122571,20100817,ZMH,51.14,51.6000,50.890,51.21,20498,NaN
122572,20100819,ZMH,51.63,51.6300,50.170,50.22,18259,NaN
122573,20100820,ZMH,50.03,50.5500,49.480,49.82,17792,NaN

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [28]:
recipes = pd.read_csv('data/recipes_sample.csv', parse_dates=['submitted'])
reviews = pd.read_csv('data/reviews_sample.csv', index_col=0)
print(reviews)
recipes

            user_id  recipe_id        date  rating  \
370476        21752      57993  2003-05-01       5
624300       431813     142201  2007-09-16       5
187037       400708     252013  2008-01-10       4
706134   2001852463     404716  2017-12-11       5
312179        95810     129396  2008-03-14       5
...             ...        ...         ...     ...
1013457     1270706     335534  2009-05-17       4
158736      2282344       8701  2012-06-03       0
1059834      689540     222001  2008-04-08       5
453285   2000242659     354979  2015-06-02       5
691207       463435     415599  2010-09-30       5

                                                    review
370476   Last week whole sides of frozen salmon fillet ...
624300   So simple and so tasty!  I used a yellow capsi...
187037   Very nice breakfast HH, easy to make and yummy...
706134   These are a favorite for the holidays and so e...
312179   Excellent soup!  The tomato flavor is just gre...
...                                                    ...
1013457  This recipe was great! I made it last night. I...
158736   This recipe is outstanding. I followed the rec...
1059834  Well, we were not a crowd but it was a fabulou...
453285   I have been a steak eater and dedicated BBQ gr...
691207   Wonderful and simple to prepare seasoning blen...

[126696 rows x 5 columns]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [29]:
reviews_shape = reviews.shape
recipes_shape = recipes.shape
print(f'Отзывы: {reviews_shape[0]} строк и {reviews_shape[1]} столбцов')
print(f'Рецепты: {recipes_shape[0]} строк и {recipes_shape[1]} столбцов')
print('Отзывы:')
print(reviews.dtypes)
print('Рецепты: ')
recipes.dtypes

Отзывы: 126696 строк и 5 столбцов
Рецепты: 30000 строк и 8 столбцов
Отзывы:
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object
Рецепты:

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [30]:
print(recipes.isnull().any())
print()
print(reviews.isnull().any())
print()
print(recipes.isnull().sum()/recipes.shape[0])
print()
print(reviews.isnull().sum()/reviews.shape[0])

name              False
id                False
minutes           False
contributor_id    False
submitted         False
n_steps            True
description        True
n_ingredients      True
dtype: bool

user_id      False
recipe_id    False
date         False
rating       False
review        True
dtype: bool

name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.373000
description       0.020767
n_ingredients     0.296000
dtype: float64

user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [31]:
print(f'rating: {reviews["rating"].mean(numeric_only=True)}')
print()
print(recipes[['minutes','n_steps','n_ingredients']].mean(numeric_only=True))

rating: 4.410802235271832

minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [32]:
a = recipes.sample(10).loc [:, 'name'] 
for el in a:
    print(el)

stuffed pattypan squash
mc donald s secret sauce
five spice duck breasts with vegetable sticks
sweet   white potato spears
easy chicken stir fry
quicky fruit cobbler
duck soup
super fast   easy chicken pot pie
lasagna blanca
johnny appleseed cake

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [33]:
reviews.reset_index(drop=True, inplace=True)
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [34]:
recipes.loc[((recipes['minutes'] <=20) & (recipes['n_ingredients' ] <=5))]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [35]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [36]:
recipes.loc[(recipes['submitted'].dt.year <=2010)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [37]:
recipes['description_length'] = recipes.loc [:,'description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [38]:
recipes.loc[:,'name'] = recipes.loc[:,'name'].apply(lambda x:x.title())
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [39]:
recipes['name_word_count'] = recipes.loc[:,'name'].apply(lambda x:len(x.split()))
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [40]:
contributors = recipes.loc [:,'contributor_id'].unique()
d = dict()
for i in contributors:
    d[i] = len(recipes[recipes['contributor_id'] == i])
max(d.items(), key=lambda x: x[1])

(89831, 421)

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [54]:
avg_rating_per_recipe = reviews.groupby('recipe_id')['rating'].mean()
recipes_without_reviews = avg_rating_per_recipe.isna()
recipes_without_reviews

recipe_id
48        False
55        False
66        False
91        False
94        False
          ...
536547    False
536610    False
536728    False
536729    False
536747    False
Name: rating, Length: 28100, dtype: bool

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [42]:
r = recipes.loc [:, 'submitted'].dt.year.unique()
d = dict()
for i in r:
    d[i] = len(recipes[recipes['submitted'].dt.year == i])
d

{2002: 2644,
 2003: 2334,
 2004: 2153,
 2011: 922,
 2008: 4029,
 2005: 3130,
 2013: 490,
 2006: 3473,
 2007: 4429,
 2012: 659,
 2009: 2963,
 2010: 1538,
 2001: 589,
 2017: 39,
 2014: 139,
 1999: 275,
 2000: 104,
 2015: 42,
 2016: 24,
 2018: 24}

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [50]:
df = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id', how='left')
df1 = df.dropna(subset=['review'])
df1 = df1[['id', 'name', 'user_id', 'rating']]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 126679 entries, 0 to 128595
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       126679 non-null  int64
 1   name     126679 non-null  object
 2   user_id  126679 non-null  float64
 3   rating   126679 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.8+ MB

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [44]:
print(len(df['recipe_id'].unique()))
df2 = df.groupby(['recipe_id', 'name']).size().reset_index(name='review_count')
print(df2.shape)
print(df2[df2['review_count'] == 0])

28101
(28100, 3)
Empty DataFrame
Columns: [recipe_id, name, review_count]
Index: []

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [45]:
df['year'] = df['submitted'].dt.year
rating_by_year = df.groupby('year')['rating'].mean().reset_index()
min_rating_by_year = rating_by_year.loc[rating_by_year['rating'].idxmin()]
min_rating_by_year

year      2017.00
rating       2.75
Name: 18, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [ ]:
recipes = recipes.sort_values('name_word_count')
recipes[['description_length', 'name', 'name_word_count']].to_csv('output6-1.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
with pd.ExcelWriter('recipes_and_reviews.xlsx') as writer:
    df1.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    df2.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3